.login-container {
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  align-items: center;
  justify-content: center;
  .login-main {
    width: 460px;
    padding: 48px 48px;
    box-shadow: 1.5px 1.5px 4px 2px #dedede;
    border-radius: 12px;
    box-sizing: border-box;
    .login-logo{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 1.75rem;
      color: #ee0000;
      margin-bottom: 24px;
    }
    #loginButton{
      width: 360px;
      margin: 16px 8px;
    }
  }
}
